* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --common-color-dark-blue: #1a2456;
    --common-color-peach: #ff8b68;
    --common-color-black: #080b1b;
    --common-color-light-gray: #f0efed;
    --common-color-pink: #efc2b3;
}

@font-face {
    font-family: 'prompt-reg';
    src: url('fonts/Prompt\ Regular.ttf');
}

body {
    font-family: 'prompt-reg';
}

.main-cont {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.mobile-nav-shop-dropdown-cont {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 350px;
    transition: all 0.5s;
    z-index: 999;
}

.mobile-nav-shop-dropdown-header {
    height: 10%;
    width: 100%;
    background-color: var(--common-color-dark-blue);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: flex;
    flex-direction: row;
    padding: 10px;
}

.mobile-nav-shop-dropdown-header:hover {
    cursor: pointer;
}

.shop-back-img {
    width: 40px;
    height: 40px;
    background-image: url('images/chevron-left.png');
    background-position: left;
    background-size: 40px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    filter: invert(100%);
}

.mobile-nav-shop-dropdown-body {
    height: 65%;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.mobile-nav-shop-dropdown-body-header {
    height: 10%;
    width: 100%;
    border: 1p solid red;
}

.mobile-nav-shop-dropdown-body-g {
    height: 20%;
    width: 100%;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-nav-shop-dropdown-body-list {
    height: 70%;
    width: 100%;
    border: 1px solid blue;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.mobile-nav-shop-dropdown-footer {
    height: 25%;
    width: 100%;
    background-color: var(--common-color-dark-blue);
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.mobile-nav-shop-dropdown-footer-header {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    bordeR: 1px solid red;
    font-size: 18px;
}

.mobile-nav-shop-dropdown-footer-checkout {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}

.checkout {
    height: 50%;
    width: 90%;
    border: none;
    background-color: #ffba60;
    border-radius: 40px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 2px;
}

.mobile-nav-shop-dropdown-footer-discount {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid orange;
}

.mobile-nav-shop-dropdown-footer-discount a {
    text-decoration: none;
    color: var(--common-color-pink);
}

.mobile-nav-shop-dropdown-footer-discount a:hover {
    text-decoration: underline;
    color: var(--common-color-peach);
}

.mobile-nav-box-cont {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 350px;
    background-color: var(--common-color-dark-blue);
    z-index: 102;
    display: flex;
    flex-direction: column;
    transition: all 0.5;
}

.mobile-nav-box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.mobile-nav-box-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 10px;
}

.mobile-nav-box-header-right {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: 10px;
}

.mobile-nav-box-x {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.mobile-nav-box-links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.mobile-nav-box-links-box {
    width: 300px;
    height: auto;
    padding-right: 30px;
}

.mobile-nav-box-links-box ul li:hover {
    color: var(--common-color-peach);
}

.mobile-nav-box-links-box ul li {
    list-style-type: none;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.289);
    font-size: 18px;
    letter-spacing: 2px;
}

.tab {
    margin-left: 20px;
}

.bold {
    font-weight: 700;
}

.mobile-nav-box-x:hover {
    cursor: pointer;
}

.mobile-nav-box-x:hover .mobile-nav-line, 
.mobile-nav-box-x:hover .mobile-nav-line-bottom {
    background-color: var(--common-color-peach);
}

.mobile-nav-box-x .mobile-nav-line {
    position: absolute;
    top: 16px;
    rotate: 45deg;
}

.mobile-nav-box-x .mobile-nav-line-bottom {
    position: absolute;
    top: 16px;
    rotate: 135deg;
}

.mobile-nav-cont {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.5s;
}

.mobile-nav-line {
    width: 35px;
    height: 4px;
    border-radius: 20px;
    background-color: var(--common-color-pink);
    margin-bottom: 8px;
}

.mobile-nav-line-bottom {
    width: 35px;
    height: 4px;
    border-radius: 20px;
    background-color: var(--common-color-pink);
}

.mobile-nav-menu {
    display: flex;
    width: 50px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5;
}

.mobile-nav-menu:hover {
    cursor: pointer;
}

.mobile-nav-menu:hover .mobile-nav-line, .mobile-nav-menu:hover .mobile-nav-line-bottom {
    background-color: var(--common-color-peach);
}

.mobile-nav-shop {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-usd-mobile {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav-cont {
    position: fixed;
    top: 5px;
    left: 1%;
    width: 98%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--common-color-dark-blue);
    color: var(--common-color-pink);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    letter-spacing: 1px;
    font-size: 14px;
    z-index: 101;
}

.main-nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    min-width: 200px;
}

.main-nav-left:hover {
    color: var(--common-color-peach);
    cursor: pointer;
}

.main-nav-left-img {
    width: 49px;
    height: 49px;
    background-image: url('images/diamond.png');
    background-position: center;
    background-size: 45px;
    background-repeat: no-repeat;
    filter: invert(100%);
}

.main-nav-left-text {
    font-weight: 600;
}

.main-nav-right {
    min-width: 700px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-list ul li {
    list-style-type: none;
    white-space: nowrap;
}

.nav-list ul li a, .main-nav-cont a, .mobile-nav-box-cont a {
    text-decoration: none;
    color: var(--common-color-pink);
}

.nav-list-box p {
    margin-left: 5px;
}

.nav-workflows, .nav-usd, .nav-usd-mobile, .nav-shop {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav-workflows img, .nav-usd img, .nav-usd-mobile img, 
.mobile-nav-shop img, .nav-shop img {
    width: 25px;
    filter: invert(100%);
}

.nav-list ul li a:hover, .nav-workflows:hover, .nav-usd:hover,
.nav-usd-mobile:hover, .mobile-nav-shop:hover, .nav-shop:hover {
    color: var(--common-color-peach);
    cursor: pointer;
}

.nav-list ul {
    display: flex;
    flex-direction: row;
}

.nav-list-box {
    width: 100%;
    height: 40px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-workflows-dropdown-cont {
    position: absolute;
    top: 40px;
    right: 390px;
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--common-color-light-gray);
    z-index: 101;
    visibility: visible;
    opacity: 1;
    transition: all .5s;
}

.nav-usd-dropdown-cont, .nav-usd-dropdown-cont-mobile {
    position: absolute;
    right: 10px;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100px;
    height: 250px;
    background-color: var(--common-color-light-gray);
    visibility: visible;
    opacity: 1;
    transition: all .5s;
}

.nav-workflows-dropdown-cont a, .nav-usd-dropdown-cont a,
.nav-usd-dropdown-cont-mobile a {
    text-decoration: none;
    color: var(--common-color-black);
    cursor: pointer;
    letter-spacing: 5px;
    width: 100%;
}

.nav-workflows-dropdown-cont a:hover, 
.nav-usd-dropdown-cont a:hover, .nav-usd-dropdown-cont-mobile a:hover {
    background-color: #e4e4e4;
}

.workflows-li {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-body-cont {
    height: 675px;
    width: 100%;
    background: #00000044 url('images/server.jpeg') no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.header-body-top {
    flex: 9;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 250px;
    color: var(--common-color-pink);
    z-index: 101;
}

.header-body-arrow {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/chevron-down.png');
    background-repeat: no-repeat;
    background-size: 50;
    background-position: center;
    filter: invert(100%);
    z-index: 101;
    transition: all 0.5s;
    padding-bottom: 20px;
}

.header-body-arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s;
}

.brown-overlay {
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: #53360089;
    width: 100%;
    height: 675px;
}

.big-img-items {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    align-self: center;
    transition: all .5s;
}

.bii-card-cont {
    position: relative;
    flex-grow: 1;
    height: 400px;
    width: 49%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bii-card-img {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--common-color-light-gray);
    transition: all 0.5s;
    background-image: url('images/floppy-front.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
}

.bii-card-img:hover {
    transition: all 0.5s;
    background-image: url('images/floppy-back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    transform: scale(0.98);
}

.bii-card-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.bii-card-footer-top {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bii-card-footer-top1 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
}

.bii-card-footer-bottom {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pre-order {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 5px;
    padding-left: 10px;
    background-color: var(--common-color-peach);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    cursor: default;
}

.create-cont {
    height: 500px;
    background-color: var(--common-color-light-gray);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.create-cont-top {
    padding-top: 30px;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--common-color-dark-blue);
}

.create-cont-bottom {
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-cont-bottom-img {
    width: 80%;
    height: 80%;
    background-image: url('images/cpu.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.small-img-cont {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-self: center;
    transition: all .5s;
}

.sic-card-cont {
    position: relative;
    width: 31%;
    height: 400px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.footer-cont {
    height: 100%;
    width: 100%;
    background-color: var(--common-color-dark-blue);
    color: var(--common-color-pink);
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer-header {
    font-weight: 600;
    margin-bottom: 20px;
    cursor: default;
}

.footer-cont-row1, .footer-cont-row2, .footer-cont-row3,
.footer-cont-row4 {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 30px;
}

.footer-cont-row5 {
    height: 100%;
    flex: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 30px;
}

.footer-cont-row1 ul li a, .footer-cont-row2 ul li a, 
.footer-cont-row3 ul li a, .footer-cont-row4 ul li a,
.footer-cont-row5 ul li a {
    text-decoration: none;
    list-style-type: none;
    color: var(--common-color-pink);
}

.footer-cont-row1 ul li a:hover, .footer-cont-row2 ul li a:hover, 
.footer-cont-row3 ul li a:hover, .footer-cont-row4 ul li a:hover,
.footer-cont-row5 ul li a:hover {
    color: var(--common-color-peach);
    text-decoration: underline;
}

.footer-cont-row1 ul li, .footer-cont-row2 ul li, 
.footer-cont-row3 ul li, .footer-cont-row4 ul li,
.footer-cont-row5 ul li {
    list-style-type: none;
}

.email-text-box {
    padding: 5px;
    color: var(--common-color-pink);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 30px;
    width: 200px;
    border: 1px solid var(--common-color-pink);
    background-color: transparent;
}

.submit-box {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: none;
    background-color: var(--common-color-pink);
}

.footer-social-media {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: row;
}

.footer-social-media img {
    height: 35px;
}

.copyright {
    margin-top: 20px;
}




.hidden {
    display: none;
}

.hidden2 {
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}

.disabled {
    pointer-events: none;
    filter: brightness(0.6);
}


@media screen and (max-width: 1150px) {
    .big-img-items {
        transform: scale(0.85);
        margin-top: -42px;
    }
    .main-nav-right {
        display: none;
    }
    .main-nav-cont {
        top: 5px;
    }
}

@media screen and (max-width: 1000px) {
    .big-img-items, .small-img-cont {
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        transform: scale(1);
        margin-top: 50px;
    }
    .footer-cont {
        flex-direction: row;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
        flex-wrap: wrap;
        height: 100%;
        padding-bottom: 20px;
    }
    .bii-card-cont, .sic-card-cont {
        width: 100%;
    }
    .footer-cont-row5 {
        order: 1;
        flex-basis: 100%;
    }
    .footer-cont-row1, .footer-cont-row2, .footer-cont-row3,
    .footer-cont-row4 {
        order: 2;
        flex-basis: 25%;
    }
}

@media screen and (max-width: 768px) {
    .footer-cont-row1, .footer-cont-row2, .footer-cont-row3,
    .footer-cont-row4 {
        flex-basis: 50%;
    }
}